@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap");
:root {
  --primary: #fdf4ff;
  --secondary: #500724;
  --third: #07060c;
  --font: "Poppins", sans-serif;
}

* {
  font-family: var(--font);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

body {
  background-color: #ededed;

  margin: 0;
  padding: 0;
}

/* ----- Header -----  */

header {
  background: linear-gradient(40deg, #991248, var(--secondary));
  width: 100vw;
  height: 10vh;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.35);
  display: flex;
}

#title {
  margin-top: 0px;
  margin-left: 50px;
  letter-spacing: 15px;
  text-transform: uppercase;
  font-size: 75px;
  color: var(--primary);
}

#add-book {
  cursor: pointer;
  border: 5px solid var(--primary);
  color: var(--primary);
  background-color: var(--secondary);
  border-radius: 35px;
  padding: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 40px;
  margin-right: 50px;
  margin-left: auto;
  align-self: center;
}

#add-book:hover {
  /* background-color: var(--primary);
  color: var(--secondary); */
  box-shadow: 0 15px 25px rgba(255, 255, 255, 0.1);
  font-size: 42px;
}

.hidden {
  opacity: 0;
}

.fullHidden {
  display: none;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.blur {
  backdrop-filter: blur(10px);
}

dialog {
  border: none;
  background-color: transparent;
}

dialog::backdrop {
  backdrop-filter: blur(3px);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  background-color: rgb(0, 0, 0/ 0.6);
}

form {
  /* position: absolute;
  top: 37vh;
  left: 43vw; */
  padding: 25px;
  padding-bottom: 35px;

  border: 2px solid #b1b1b1;
  border-radius: 15px;
  display: grid;
  width: 400px;
  height: 400px;

  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px,
    rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

form img {
  width: 12px;
  margin-left: auto;
  cursor: pointer;
}

input {
  outline: none;
  border: 3px solid #b1b1b1;
  border-radius: 5px;
  height: 25px;
}

.cbx {
  margin: 30px 30px 30px 0px;
}

.input-cbx {
  width: 100px;
  height: 50px;
  border: 3px solid #b1b1b1;
}

.lb {
  margin-top: 35px;
}

form label {
  font-weight: 500s;
  font-size: 20px;
}

#sub {
  border: 2.5px solid #1f2029;
  background-color: #ededed;
  font-size: large;
  font-weight: 600;

  border-radius: 5px;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;

  margin-top: -20px;
}

#sub:hover {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

/*  aaaaaaaaaaaa */
.checkbox-wrapper-4 * {
  box-sizing: border-box;
}
.checkbox-wrapper-4 .cbx {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  padding: 6px 8px;
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.2s ease;
  display: inline-block;
}
.checkbox-wrapper-4 .cbx:not(:last-child) {
  margin-right: 6px;
}
.checkbox-wrapper-4 .cbx:hover {
  background: rgba(0, 119, 255, 0.06);
}
.checkbox-wrapper-4 .cbx span {
  float: left;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-4 .cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  transform: scale(1);
  border: 1px solid #cccfdb;
  transition: all 0.2s ease;
  box-shadow: 0 1px 1px rgba(0, 16, 75, 0.05);
}
.checkbox-wrapper-4 .cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-4 .cbx span:last-child {
  padding-left: 8px;
  line-height: 18px;
}
.checkbox-wrapper-4 .cbx:hover span:first-child {
  border-color: #07f;
}
.checkbox-wrapper-4 .inp-cbx {
  position: absolute;
  visibility: hidden;
}
.checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child {
  background: #07f;
  border-color: #07f;
  animation: wave-4 0.4s ease;
}
.checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}
.checkbox-wrapper-4 .inline-svg {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}
@media screen and (max-width: 640px) {
  .checkbox-wrapper-4 .cbx {
    width: 100%;
    display: inline-block;
  }
}
@-moz-keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}
@-webkit-keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}
@-o-keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}
@keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}

.library {
  display: flex;
  gap: 60px;
}

.book {
  text-align: center;
  border-radius: 15px;
  margin: 35px;
  padding: 1rem;
  color: var(--third);
  background-color: var(--primary);
  max-width: 300px;
  min-width: 300px;

  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.read {
  box-sizing: border-box;
  cursor: pointer;
  font-size: 20px;
  border: none;
  background-color: #9fff9c;
  font-weight: 500;
  padding: 10px 90px 10px 90px;
  border-radius: 10px;
  margin-bottom: 20px;
  -webkit-transition: none;
  transition: none;
}

.read:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.delete {
  box-sizing: border-box;
  cursor: pointer;
  font-size: 20px;
  border: none;
  background-color: #dedede;
  font-weight: 500;
  padding: 10px 75px 10px 75px;
  border-radius: 10px;
}
